:root {
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 8%);
}

body {
  font-family: muli, sans-serif;
  font-weight: 600;
  font-style: normal;
  box-sizing: border-box;
}

/* SECTION HEADER */

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 70px;
  background-color: rgba(255, 255, 255, 0.98);
  box-shadow: var(--box-shadow);
  position: fixed;
  z-index: 999;
  opacity: 50%;
}

header img {
  width: 40px;
  height: 40px;
}

h1 {
  text-align: center;
  margin-top: 20px;
  text-transform: lowercase;
}

.menu {
  display: flex;
}

.menu__list {
  display: flex;
}

.menu__item {
  margin-left: 20px;
}

.menu__item a {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

/* SECTION INICIO */

#container__inicio_page {
  height: 100vh;
}

/* SECTION CONTADOR */

#container__contador_page {
  height: 100vh;
}

#container_contador {
  display: flex;
  max-width: 600px;
  height: 500px;
  margin: auto;
}

.contador {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "headCont headCont headCont headCont headCont" ". bodyCont bodyCont bodyCont ." "footerCont footerCont footerCont footerCont footerCont";
  grid-template-columns: 30px 20% 1fr 20% 30px;
  grid-template-rows: 10% 1fr 10%;
  column-gap: 5px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  margin-top: 20vh;
}

.contador__head {
  grid-area: headCont;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
}

.contador__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: bodyCont;
  background-color: rgb(255, 255, 255);
  align-items: center;
  overflow: hidden;
  z-index: -1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 9%);
  border-radius: 0 0 20px 20px;
}
.contador__footer {
  grid-area: footerCont;
  background-color: rgb(255, 255, 255);
  z-index: -2;
  text-align: center;
  margin-top: 15px;
}

.contador__body-content {
  border: 1px solid black;
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.contador__body-buttom button {
  border: none;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: royalblue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.contador__body-buttom button:hover {
  background-color: rgb(60, 57, 219);
  transition: 0.5s;
}

/* SECTION NOTES */

#container__note_page {
  height: 100vh;
}

#container_notes {
  display: flex;
  max-width: 600px;
  height: 500px;
  margin: auto;
}

.notes {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas: "headNotes headNotes headNotes headNotes headNotes" ". bodyNotes bodyNotes bodyNotes ." "historyNotes historyNotes historyNotes historyNotes historyNotes";
  grid-template-columns: 30px 20% 1fr 20% 30px;
  grid-template-rows: 10% 30% 1fr;
  column-gap: 5px;
  border: 2px solid black;
  border-radius: 20px;
  overflow: hidden;
  z-index: 1;
  margin-top: 20vh;
}

.notes__head {
  grid-area: headNotes;
  background-color: rgb(255, 255, 255);
  box-shadow: var(--box-shadow);
}

.notes__body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-area: bodyNotes;
  background-color: rgb(255, 255, 255);
  align-items: center;
  overflow: hidden;
  z-index: -1;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 9%);
  border-radius: 0 0 20px 20px;
}
.notes__history {
  overflow-y: scroll;
  grid-area: historyNotes;
  background-color: rgb(255, 255, 255);
  z-index: -2;
  text-align: center;
  margin-top: 15px;
}

.notes__history::-webkit-scrollbar-track {
  /* background: rgb(60, 57, 219); */
  background: royalblue;
  border-radius: 10px;
}

.notes__history::-webkit-scrollbar {
  width: 5px;
}

.notes__history::-webkit-scrollbar-thumb {
  background-color: aliceblue;
  border-radius: 10px;
}

.notes__body-content {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#note_input {
  width: 80%;
  height: 50px;
  white-space: wrap;
}

.notes__body-buttom button {
  border: none;
  width: 100px;
  height: 40px;
  margin-top: 20px;
  background-color: royalblue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.notes__body-buttom button:hover {
  background-color: rgb(60, 57, 219);
  transition: 0.5s;
}

.note {
  margin: 10px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  white-space: wrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  word-break: break-word;
  padding: 10px;
  flex-wrap: nowrap;
  height: 20px;
  display: flex;
}

.note span {
  width: 80%;
  display: flex;
}

.ativo {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 998;
  height: 90%;
}

.remove {
  width: 60px;
  height: 20px;
  position: relative;
  border: none;
  background-color: royalblue;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  box-shadow: var(--box-shadow);
  display: flex;
  left: 25px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
